xsd_utf8.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><xs:schema xmlns:tns="http://service.earsiv.uut.cs.com.tr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.earsiv.uut.cs.com.tr/">

<xs:element name="aliciEpostaEkleSilGuncelle" type="tns:aliciEpostaEkleSilGuncelle"/>

<xs:element name="aliciEpostaEkleSilGuncelleResponse" type="tns:aliciEpostaEkleSilGuncelleResponse"/>

<xs:element name="eFaturaKayitliKullaniciListele" type="tns:eFaturaKayitliKullaniciListele"/>

<xs:element name="eFaturaKayitliKullaniciListeleResponse" type="tns:eFaturaKayitliKullaniciListeleResponse"/>

<xs:element name="ePostaDurumSorgula" type="tns:ePostaDurumSorgula"/>

<xs:element name="ePostaDurumSorgulaResponse" nillable="true" type="tns:doubleStringOutputWrapper"/>

<xs:element name="ePostaGonder" type="tns:ePostaGonder"/>

<xs:element name="ePostaGonderResponse" type="tns:ePostaGonderResponse"/>

<xs:element name="efaturaKullanicisi" type="tns:efaturaKullanicisi"/>

<xs:element name="efaturaKullanicisiKontrol" type="tns:efaturaKullanicisiKontrol"/>

<xs:element name="efaturaKullanicisiKontrolResponse" type="tns:efaturaKullanicisiKontrolResponse"/>

<xs:element name="efaturaKullanicisiResponse" type="tns:efaturaKullanicisiResponse"/>

<xs:element name="faturaIptalEt" type="tns:faturaIptalEt"/>

<xs:element name="faturaIptalEtResponse" type="tns:faturaIptalEtResponse"/>

<xs:element name="faturaIptaliKaldir" type="tns:faturaIptaliKaldir"/>

<xs:element name="faturaIptaliKaldirResponse" type="tns:faturaIptaliKaldirResponse"/>

<xs:element name="faturaItirazEt" type="tns:faturaItirazEt"/>

<xs:element name="faturaItirazEtResponse" type="tns:faturaItirazEtResponse"/>

<xs:element name="faturaItirazKaldir" type="tns:faturaItirazKaldir"/>

<xs:element name="faturaItirazKaldirResponse" type="tns:faturaItirazKaldirResponse"/>

<xs:element name="faturaListeSorgula" type="tns:faturaListeSorgula"/>

<xs:element name="faturaListeSorgulaCount" type="tns:faturaListeSorgulaCount"/>

<xs:element name="faturaListeSorgulaCountResponse" type="tns:faturaListeSorgulaCountResponse"/>

<xs:element name="faturaListeSorgulaPortal" type="tns:faturaListeSorgulaPortal"/>

<xs:element name="faturaListeSorgulaPortalResponse" type="tns:faturaListeSorgulaPortalResponse"/>

<xs:element name="faturaListeSorgulaResponse" type="tns:faturaListeSorgulaResponse"/>

<xs:element name="faturaNoUret" type="tns:faturaNoUret"/>

<xs:element name="faturaNoUretResponse" nillable="true" type="tns:stringOutputWrapper"/>

<xs:element name="faturaOlustur" type="tns:faturaOlustur"/>

<xs:element name="faturaOlusturExt" type="tns:faturaOlusturExt"/>

<xs:element name="faturaOlusturExtResponse" nillable="true" type="tns:belgeOutputWrapper"/>

<xs:element name="faturaOlusturResponse" nillable="true" type="tns:belgeOutputWrapper"/>

<xs:element name="faturaOnizleme" type="tns:faturaOnizleme"/>

<xs:element name="faturaOnizlemeResponse" nillable="true" type="tns:belgeOutputWrapper"/>

<xs:element name="faturaSorgula" type="tns:faturaSorgula"/>

<xs:element name="faturaSorgulaExt" type="tns:faturaSorgulaExt"/>

<xs:element name="faturaSorgulaExtResponse" nillable="true" type="tns:belgeOutputWrapper"/>

<xs:element name="faturaSorgulaResponse" nillable="true" type="tns:belgeOutputWrapper"/>

<xs:element name="faturaTaslakOlustur" type="tns:faturaTaslakOlustur"/>

<xs:element name="faturaTaslakOlusturResponse" type="tns:faturaTaslakOlusturResponse"/>

<xs:element name="faturaTaslakOnizleme" type="tns:faturaTaslakOnizleme"/>

<xs:element name="faturaTaslakOnizlemeResponse" type="tns:faturaTaslakOnizlemeResponse"/>

<xs:element name="faturaTaslakSil" type="tns:faturaTaslakSil"/>

<xs:element name="faturaTaslakSilResponse" type="tns:faturaTaslakSilResponse"/>

<xs:element name="faturaTaslakSorgula" type="tns:faturaTaslakSorgula"/>

<xs:element name="faturaTaslakSorgulaResponse" type="tns:faturaTaslakSorgulaResponse"/>

<xs:element name="faturaTaslaktanOlustur" type="tns:faturaTaslaktanOlustur"/>

<xs:element name="faturaTaslaktanOlusturResponse" nillable="true" type="tns:belgeOutputWrapper"/>

<xs:element name="faturaZipiAl" type="tns:faturaZipiAl"/>

<xs:element name="faturaZipiAlResponse" type="tns:faturaZipiAlResponse"/>

<xs:element name="kontorBilgisiGetir" type="tns:kontorBilgisiGetir"/>

<xs:element name="kontorBilgisiGetirResponse" type="tns:kontorBilgisiGetirResponse"/>

<xs:element name="okcRaporBolumAl" type="tns:okcRaporBolumAl"/>

<xs:element name="okcRaporBolumAlResponse" nillable="true" type="tns:belgeOutputWrapper"/>

<xs:element name="okcRaporKaydet" type="tns:okcRaporKaydet"/>

<xs:element name="okcRaporKaydetResponse" type="tns:okcRaporKaydetResponse"/>

<xs:element name="okcRaporOlusturGonder" type="tns:okcRaporOlusturGonder"/>

<xs:element name="okcRaporOlusturGonderResponse" type="tns:okcRaporOlusturGonderResponse"/>

<xs:element name="raporBolumAl" type="tns:raporBolumAl"/>

<xs:element name="raporBolumAlResponse" nillable="true" type="tns:belgeOutputWrapper"/>

<xs:element name="raporBolumBilgisiAl" type="tns:raporBolumBilgisiAl"/>

<xs:element name="raporBolumBilgisiAlResponse" type="tns:raporBolumBilgisiAlResponse"/>

<xs:element name="raporBolumListesiDetayliSorgula" type="tns:raporBolumListesiDetayliSorgula"/>

<xs:element name="raporBolumListesiDetayliSorgulaResponse" type="tns:raporBolumListesiDetayliSorgulaResponse"/>

<xs:element name="raporBolumListesiSorgula" type="tns:raporBolumListesiSorgula"/>

<xs:element name="raporBolumListesiSorgulaResponse" nillable="true" type="tns:stringOutputWrapper"/>

<xs:element name="raporBolumListesiSorgulaWithInput" type="tns:raporBolumListesiSorgulaWithInput"/>

<xs:element name="raporBolumListesiSorgulaWithInputResponse" nillable="true" type="tns:stringOutputWrapper"/>

<xs:element name="raporBolumRaporNoGuncelleImzala" type="tns:raporBolumRaporNoGuncelleImzala"/>

<xs:element name="raporBolumRaporNoGuncelleImzalaResponse" type="tns:raporBolumRaporNoGuncelleImzalaResponse"/>

<xs:element name="raporBolumSil" type="tns:raporBolumSil"/>

<xs:element name="raporBolumSilResponse" type="tns:raporBolumSilResponse"/>

<xs:element name="raporBolumleriOlustur" type="tns:raporBolumleriOlustur"/>

<xs:element name="raporBolumleriOlusturResponse" type="tns:raporBolumleriOlusturResponse"/>

<xs:element name="raporDurumSorgula" type="tns:raporDurumSorgula"/>

<xs:element name="raporDurumSorgulaResponse" type="tns:raporDurumSorgulaResponse"/>

<xs:element name="raporGonder" type="tns:raporGonder"/>

<xs:element name="raporGonderResponse" type="tns:raporGonderResponse"/>

<xs:element name="rapordaFaturaSorgula" type="tns:rapordaFaturaSorgula"/>

<xs:element name="rapordaFaturaSorgulaResponse" type="tns:rapordaFaturaSorgulaResponse"/>

<xs:element name="serviceReturnType" type="tns:serviceReturnType"/>

<xs:element name="servisSaglayicidanEpostaDurumSorgula" type="tns:servisSaglayicidanEpostaDurumSorgula"/>

<xs:element name="servisSaglayicidanEpostaDurumSorgulaResponse" nillable="true" type="tns:doubleStringOutputWrapper"/>

<xs:element name="smsDurumSorgula" type="tns:smsDurumSorgula"/>

<xs:element name="smsDurumSorgulaResponse" type="tns:smsDurumSorgulaResponse"/>

<xs:element name="smsGonder" type="tns:smsGonder"/>

<xs:element name="smsGonderResponse" type="tns:smsGonderResponse"/>

<xs:element name="topluFaturaPaketDosyaGonder" type="tns:topluFaturaPaketDosyaGonder"/>

<xs:element name="topluFaturaPaketDosyaGonderResponse" type="tns:topluFaturaPaketDosyaGonderResponse"/>

<xs:element name="topluFaturaPaketDosyasiSorgula" type="tns:topluFaturaPaketDosyasiSorgula"/>

<xs:element name="topluFaturaPaketDosyasiSorgulaResponse" nillable="true" type="tns:belgeOutputWrapper"/>

<xs:element name="topluFaturaPaketOnayla" type="tns:topluFaturaPaketOnayla"/>

<xs:element name="topluFaturaPaketOnaylaResponse" type="tns:topluFaturaPaketOnaylaResponse"/>

<xs:element name="topluFaturaPaketSorgula" type="tns:topluFaturaPaketSorgula"/>

<xs:element name="topluFaturaPaketSorgulaResponse" nillable="true" type="tns:belgeOutputWrapper"/>

<xs:element name="yapilandirmaAyarlariAl" type="tns:yapilandirmaAyarlariAl"/>

<xs:element name="yapilandirmaAyarlariAlResponse" type="tns:yapilandirmaAyarlariAlResponse"/>

<xs:complexType name="okcRaporKaydet">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="rapor" type="tns:dosyaInput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dosyaInput">
<xs:sequence>
<xs:element name="belgeIcerigi" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="genelBelgeFormatEnum" type="tns:genelBelgeFormatEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="okcRaporKaydetResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="earsivServiceResult">
<xs:sequence>
<xs:element name="resultCode" type="xs:string" minOccurs="0"/>
<xs:element name="resultExtra">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:anyType"/>
<xs:element name="value" minOccurs="0" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="resultText" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="okcRaporBolumAl">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="belgeOutputWrapper">
<xs:sequence>
<xs:element name="output" type="tns:belge" minOccurs="0"/>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="belge">
<xs:sequence>
<xs:element name="belgeFormati" type="tns:belgeFormatiEnum" minOccurs="0"/>
<xs:element name="belgeIcerigi" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="topluFaturaPaketDosyaGonder">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="paketDosyasiZip" type="tns:belge" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="topluFaturaPaketDosyaGonderResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aliciEpostaEkleSilGuncelle">
<xs:sequence>
<xs:element name="inputGuncellenecekEposta" type="xs:string" minOccurs="0"/>
<xs:element name="inputSilinecekEposta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aliciEpostaEkleSilGuncelleResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaOlustur">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="fatura" type="tns:belge" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="efaturaKullanicisi">
<xs:sequence>
<xs:element name="vergiTcKimlikNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="efaturaKullanicisiResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaItirazEt">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaItirazEtResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ePostaDurumSorgula">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doubleStringOutputWrapper">
<xs:sequence>
<xs:element name="outputDurum" type="xs:string" minOccurs="0"/>
<xs:element name="outputEposta" type="xs:string" minOccurs="0"/>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eFaturaKayitliKullaniciListele">
<xs:sequence>
<xs:element name="kayitZamani" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eFaturaKayitliKullaniciListeleResponse">
<xs:sequence>
<xs:element name="return" type="tns:eFaturaKullanici" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eFaturaKullanici">
<xs:complexContent>
<xs:extension base="tns:serviceReturnType">
<xs:sequence>
<xs:element name="etiket" type="xs:string" minOccurs="0"/>
<xs:element name="kamuKurulusu" type="xs:boolean"/>
<xs:element name="kayitZamani" type="xs:string" minOccurs="0"/>
<xs:element name="unvan" type="xs:string" minOccurs="0"/>
<xs:element name="vergiTcKimlikNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="serviceReturnType">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="servisSaglayicidanEpostaDurumSorgula">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaTaslakOnizleme">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaTaslakOnizlemeResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
<xs:element name="output" type="tns:belge" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaListeSorgulaPortal">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaListeSorgulaPortalResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
<xs:element name="output" type="tns:faturaDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaDTO">
<xs:sequence>
<xs:element name="arsiv" type="xs:int"/>
<xs:element name="creationTime" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="dokumanFormati" type="xs:string" minOccurs="0"/>
<xs:element name="durum" type="xs:int" minOccurs="0"/>
<xs:element name="duzenlenmeZamani" type="xs:string" minOccurs="0"/>
<xs:element name="epostaGonderimDurumu" type="xs:int" minOccurs="0"/>
<xs:element name="erpKodu" type="xs:string" minOccurs="0"/>
<xs:element name="faturaSiraNo" type="xs:int" minOccurs="0"/>
<xs:element name="faturaZamani" type="xs:string" minOccurs="0"/>
<xs:element name="ilkKayitZmani" type="xs:string" minOccurs="0"/>
<xs:element name="indirildi" type="xs:int" minOccurs="0"/>
<xs:element name="invoiceId" type="xs:string" minOccurs="0"/>
<xs:element name="invoiceTypeCode" type="xs:string" minOccurs="0"/>
<xs:element name="iptalEdenKullaniciKodu" type="xs:string" minOccurs="0"/>
<xs:element name="iptalKaynagi" type="xs:int" minOccurs="0"/>
<xs:element name="iptalKomisyonu" type="xs:decimal" minOccurs="0"/>
<xs:element name="iptalRaporTarihi" type="xs:string" minOccurs="0"/>
<xs:element name="iptalTarihi" type="xs:string" minOccurs="0"/>
<xs:element name="iptalTarihiExcel" type="xs:string" minOccurs="0"/>
<xs:element name="islemId" type="xs:string" minOccurs="0"/>
<xs:element name="issueDate" type="xs:string" minOccurs="0"/>
<xs:element name="istihsalKomisyonu" type="xs:decimal" minOccurs="0"/>
<xs:element name="itirazEdenKullaniciKodu" type="xs:string" minOccurs="0"/>
<xs:element name="itirazKaynagi" type="xs:int" minOccurs="0"/>
<xs:element name="itirazTarihi" type="xs:string" minOccurs="0"/>
<xs:element name="kagitFatura" type="xs:boolean" minOccurs="0"/>
<xs:element name="kasa" type="xs:string" minOccurs="0"/>
<xs:element name="kaynak" type="xs:int"/>
<xs:element name="kepDurum" type="xs:int" minOccurs="0"/>
<xs:element name="kolayFatura" type="xs:int" minOccurs="0"/>
<xs:element name="kullaniciKodu" type="xs:string" minOccurs="0"/>
<xs:element name="okundu" type="xs:int" minOccurs="0"/>
<xs:element name="orjinalBelgeTipi" type="xs:string" minOccurs="0"/>
<xs:element name="payableAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="profileId" type="xs:string" minOccurs="0"/>
<xs:element name="raporDurum" type="xs:int" minOccurs="0"/>
<xs:element name="raporTarihi" type="xs:string" minOccurs="0"/>
<xs:element name="receiverContact" type="xs:string" minOccurs="0"/>
<xs:element name="receiverIdentifier" type="xs:string" minOccurs="0"/>
<xs:element name="receiverIdentifierTxt" type="xs:string" minOccurs="0"/>
<xs:element name="receiverName" type="xs:string" minOccurs="0"/>
<xs:element name="senderContact" type="xs:string" minOccurs="0"/>
<xs:element name="senderName" type="xs:string" minOccurs="0"/>
<xs:element name="sonGuncellemeZamani" type="xs:string" minOccurs="0"/>
<xs:element name="sube" type="xs:string" minOccurs="0"/>
<xs:element name="tanimliSubeKod" type="xs:string" minOccurs="0"/>
<xs:element name="telNo" type="xs:string" minOccurs="0"/>
<xs:element name="toplamTutar" type="xs:decimal" minOccurs="0"/>
<xs:element name="uuid" type="xs:string" minOccurs="0"/>
<xs:element name="vergilerToplami" type="xs:decimal" minOccurs="0"/>
<xs:element name="versiyon" type="xs:int" minOccurs="0"/>
<xs:element name="yazdirildi" type="xs:int" minOccurs="0"/>
<xs:element name="yerelFaturaNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumSil">
<xs:sequence>
<xs:element name="bolumRaporNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumSilResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumAl">
<xs:sequence>
<xs:element name="bolumRaporNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rapordaFaturaSorgula">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rapordaFaturaSorgulaResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ePostaGonder">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="ilaveEposta" type="xs:string" minOccurs="0"/>
<xs:element name="tanimliEpostayaGonder" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ePostaGonderResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaNoUret">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stringOutputWrapper">
<xs:sequence>
<xs:element name="output" type="xs:string" minOccurs="0"/>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaSorgulaExt">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaTaslakOlustur">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="fatura" type="tns:belge" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaTaslakOlusturResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaZipiAl">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaZipiAlResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
<xs:element name="output" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumleriOlustur">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="donem" type="xs:string" minOccurs="0"/>
<xs:element name="sonGun" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumleriOlusturResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaTaslakSil">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaTaslakSilResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaIptalEt">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaIptalEtResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="smsDurumSorgula">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="smsDurumSorgulaResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
<xs:element name="outputDurum" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumListesiDetayliSorgula">
<xs:sequence>
<xs:element name="donem" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumListesiDetayliSorgulaResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
<xs:element name="output" type="tns:raporBolumDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumDTO">
<xs:sequence>
<xs:element name="baslangicTarihi" type="xs:string" minOccurs="0"/>
<xs:element name="bitisTarihi" type="xs:string" minOccurs="0"/>
<xs:element name="bolumNo" type="xs:long" minOccurs="0"/>
<xs:element name="bolumRaporNo" type="xs:string" minOccurs="0"/>
<xs:element name="durum" type="xs:int"/>
<xs:element name="durumAciklama" type="xs:string" minOccurs="0"/>
<xs:element name="durumKodu" type="xs:string" minOccurs="0"/>
<xs:element name="sonIslemeZamani" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaIptaliKaldir">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaIptaliKaldirResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="efaturaKullanicisiKontrol">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="efaturaKullanicisiKontrolResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporGonder">
<xs:sequence>
<xs:element name="donem" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporGonderResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumBilgisiAl">
<xs:sequence>
<xs:element name="bolumRaporNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumBilgisiAlResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaListeSorgula">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaListeSorgulaResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
<xs:element name="output" type="tns:faturaDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaTaslakSorgula">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaTaslakSorgulaResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
<xs:element name="output" type="tns:faturaDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="okcRaporOlusturGonder">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="okcRaporOlusturGonderResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumListesiSorgulaWithInput">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="donem" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaItirazKaldir">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaItirazKaldirResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaTaslaktanOlustur">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kontorBilgisiGetir">
<xs:sequence>
<xs:element name="vknTckn" type="xs:string" minOccurs="0"/>
<xs:element name="kontorTipi" type="xs:string" minOccurs="0"/>
<xs:element name="kontorBirimi" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kontorBilgisiGetirResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaOnizleme">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="fatura" type="tns:belge" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="smsGonder">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="ilaveTelefonNo" type="xs:string" minOccurs="0"/>
<xs:element name="tanimliTelefonNoyaGonder" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="smsGonderResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="yapilandirmaAyarlariAl">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="yapilandirmaAyarlariAlResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
<xs:element name="outputYapilandirma" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporDurumSorgula">
<xs:sequence>
<xs:element name="donem" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporDurumSorgulaResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="topluFaturaPaketOnayla">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="topluFaturaPaketOnaylaResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="topluFaturaPaketSorgula">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumListesiSorgula">
<xs:sequence>
<xs:element name="donem" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaListeSorgulaCount">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaListeSorgulaCountResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
<xs:element name="output" type="tns:faturaDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumRaporNoGuncelleImzala">
<xs:sequence>
<xs:element name="bolumRaporNo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raporBolumRaporNoGuncelleImzalaResponse">
<xs:sequence>
<xs:element name="return" type="tns:earsivServiceResult" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="topluFaturaPaketDosyasiSorgula">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaOlusturExt">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
<xs:element name="fatura" type="tns:belge" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="faturaSorgula">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="genelBelgeFormatEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="XML"/>
<xs:enumeration value="CSV"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="belgeFormatiEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="UBL"/>
<xs:enumeration value="CSXML"/>
<xs:enumeration value="HTML"/>
<xs:enumeration value="PDF"/>
<xs:enumeration value="CUSTOM"/>
<xs:enumeration value="PDF_CUSTOM"/>
<xs:enumeration value="PDF_UBL"/>
<xs:enumeration value="CSXML1"/>
<xs:enumeration value="CSXML2"/>
<xs:enumeration value="CSXML3"/>
<xs:enumeration value="PDF_CSXML1"/>
<xs:enumeration value="PDF_CSXML2"/>
<xs:enumeration value="PDF_CSXML3"/>
<xs:enumeration value="JSON"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
